<div class="container">
    <!-- header -->
    <header id="header">
      <h1>APN Push Notification Test</h1>
    </header>

    <!-- content -->
    <div class="content">
      <form>
        <div class="row">
            <label for="title">Client ID</label>
            <input id="title" type="text" name="title" value="" placeholder="Enter title">
          </div>

          <div class="row">
            <label for="message">Message</label>
            <textarea id="message" rows="5" name="message" value="" placeholder="message"></textarea>
          </div>
          
          <div class="row">
            <label for="target_url">Token ID</label>
            <input id="target_url" type="text" name="target_url" value="" placeholder="Enter target url">
          </div>
          <div class="row">
            <button type="submit">Send Push Notification</button>
          </div>
      </form>
    </div>

  </div>